img.left {
  float: left;
  width: 200px;
  height: auto;
  margin: 0 1em 1em 0;
}
img.recht {
  float: right;
  margin: 0 0 1em 1em;
  width: 200px;
}
p {
  line-height: 1.5;
}
h2 {
  clear: both;
}
